{% extends "base.html" %}

{% block titulo_pagina %}
<b>REGISTRAR USUARIO</b>
{% endblock %}

{% block content %}

<form method="POST">

    <div class="form-group mb-3">
        <label for="nameUser"><b>NOMBRE Y APELLIDO:</b></label>
        <input type="text" id="nameUser" name="nameUser" required class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="username"><b>USUARIO:</b></label>
        <input type="text" id="username" name="username" required class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="email"><b>CORREO ELECTRÓNICO:</b></label>
        <input type="email" id="email" name="email" required class="form-control">
    </div>

    <div class="form-group mb-3">
        <label for="passwordUser"><b>CONTRASEÑA:</b></label>
        <input type="password" id="passwordUser" name="passwordUser" required class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
    <a href="{{ url_for('user.index') }}" class="btn btn-secondary">Cancelar</a>

</form>

{% endblock %}